<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Purpose</span></h2>
</div>
<p>Teamwork, collaboration, and communications are essential skills for a career in mechanical engineering. This is a group assignment designed to help you and your teammates develop your communications and collaborations skills as a budding engineer. Additionally, the Checkout allows for you to verbalize your solution approach to a member of the instructional team and in return they can provide feedback to you to best help prepare for the upcoming quiz.</p>
<h3>Module {{ module_number }} Learning Objectives: {{ learning_objectives_topic }}</h3>
<ul>
    {% for objective in learning_objectives %}
    <li>LO{{ loop.index }}: {{ objective }}</li>
    {% endfor %}
</ul>
<h3>Collaboration Learning Objectives</h3>
<ul>
    {% for objective in collaboration_objectives %}
    <li>{{ objective }}</li>
    {% endfor %}
</ul>
<h3>Communications Learning Objectives:</h3>
<ul>
    {% for objective in communications_objectives %}
    <li>{{ objective }}</li>
    {% endfor %}
</ul>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Due date</span></h2>
</div>
<p><span>Your team will present your problem {{ formatted_due_date }}, during class to one of the members of our instructional team. The schedule for presentations can be found <a class="inline_disabled" href="https://docs.google.com/spreadsheets/d/1ivSA8OX-swqPb7It1BRolzPvZvxBDCaI24Cca1XsdDE/edit?gid=920249895#gid=920249895" rel="noopener">here</a>.</span></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Task</span></h2>
</div>
<p>{{ task_text }} Your group is comprised of 5 people and each of you will play a different role in the checkout process to convey your problem solution to a member of the instructional team. Those roles are:</p>
<ul>
    <li style="list-style-type: none;">
        <ul>
            <li><strong><i>Solution Strategy Sage</i></strong><i><span> - It is your job to communicate the high level approach, or roadmap, taken for this problem and why.</span></i></li>
            <li><i><strong>Visualization Virtuoso</strong><span> - It is your job to draw and explain all diagrams used in the solving process (i.e. coordinate system choices/orientations, free body diagrams, etc).</span></i></li>
            <li><i><strong>Equation Eloquence Engineer</strong><span> - It is your job to explain all equations used and why. How did you solve these equations and what information was used top do so?</span></i></li>
            <li><i><strong>Application Analysis Ambassador<span> - </span></strong>It is your job to connect the dots between the theoretical content of the checkout problem to a real world application. Do your best to briefly describe a situation where this same type of analysis would be useful in a real-world application. You are welcome to use the whiteboard to help visualize any applications you choose to describe.</i></li>
            <li><i><strong>Feedback Fidelity Facilitator</strong><span> - It is your job to be the team scribe and take note of any and all feedback given to the group. The instructional team may probe deeper into the problem with follow up questions that may be worth keeping track of too.</span></i></li>
        </ul>
    </li>
</ul>
<p>These roles should rotate with each checkout. With 5 roles, 5 group members, and 5 Checkouts, every member of your group should hold each role once. We have provided you with a <a class="inline_disabled" href="https://docs.google.com/document/d/1-k3ddBut1Ncyep1GhBrn6YBU-54Aa2-_PcWaTTkbmyY/copy" rel="noopener">Google Doc</a> that you can make a copy of to assign these roles for you group members for each Checkout. This document is meant to serve as a group agreement for the distribution of responsibilities moving forward.</p>
<p><i></i></p>
<p><i></i></p>
<p><i></i></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Criteria</span></h2>
</div>
<p><span>This assignment is meant to be low stakes, and will be graded for participation. As long as you come prepared and participate, each member of the team will receive full credit.</span></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Support and Resources</span></h2>
</div>
<p><span>If you have issues, please reach out to the instructional team or visit the <a title="Instructors and Drop-In Hours" href="https://umich.instructure.com/courses/{{ course_id }}/pages/instructors-and-drop-in-hours-2" data-course-type="wikiPages" data-published="true" data-api-endpoint="https://umich.instructure.com/api/v1/courses/{{ course_id }}/pages/instructors-and-drop-in-hours-2" data-api-returntype="Page">drop-in hours</a> hosted in the Findley Learning Center.</span></p>