<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Purpose</span></h2>
</div>
<p><span>This homework assignment is focused on {{ learning_objectives_topic }}</span></p>
<p><span style="font-family: inherit; font-size: 1.5em; color: var(--ic-brand-font-color-dark);">Module {{ module_number }} Learning Objectives: {{ learning_objectives_topic }}</span></p>
<div class="content-box">
    <div class="grid-row">
        <div class="col-md-12
                col-lg-8">
            <div class="styleguide-section__grid-demo-element">
                <ul>
                    {% for objective in learning_objectives %}
                    <li>{{ objective }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Due date</span></h2>
</div>
<p><span>{{ due_date }} @11:59PM</span></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Task</span></h2>
</div>
<p><span><a class="instructure_file_link instructure_scribd_file inline_disabled" title="ME240 WN25 HW{{ homework_number }}.pdf" href="#" target="_blank" rel="noopener">ME240 WN25 HW{{ homework_number }}.pdf</a></span></p>
<ul>
    <li><span>Above you will find a pdf with the assignment problems</span></li>
    <li><span style="text-decoration: underline;"><strong> Please submit a single PDF of your solutions along with any relevant MATLAB files</strong></span></li>
    <li><span>Remember to double check your pdf after you have uploaded it, to be sure that it uploaded properly.</span></li>
</ul>
<p><span>Things to watch out for:</span></p>
<ul>
    <li><span>Circle all final answers clearly</span></li>
    <li><span>You can always perform a unit check to catch any math errors</span></li>
</ul>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Criteria</span></h2>
</div>
<p><span>Two of the required problems will be graded for correctness out of 5 points.&nbsp; The remaining problems will be graded based on completeness for 3 points each. To maximize your chances of earning credit on the assignment, you are encouraged to attempt all problems and turn in your work even if incomplete.&nbsp;</span></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Support and Resources</span></h2>
</div>
<p><span>If you have any questions about the content or problems, please visit the instructional team during our scheduled <a title="Instructors and Drop-In Hours" href="https://umich.instructure.com/courses/{{ course_id }}/pages/instructors-and-drop-in-hours-2" data-course-type="wikiPages" data-published="true" data-api-endpoint="https://umich.instructure.com/api/v1/courses/{{ course_id }}/pages/instructors-and-drop-in-hours-2" data-api-returntype="Page">drop-in hours</a>.</span></p>
<div style="background-color: #d5e0ec; padding-left: 15px;">
    <h2><span style="color: #000000;">Problem Solutions</span></h2>
</div>
<p><a class="instructure_file_link instructure_scribd_file inline_disabled" title="ME240_WN25_HW{{ homework_number }}_Solutions.pdf" href="#" target="_blank" rel="noopener">ME240_WN25_HW{{ homework_number }}_Solutions.pdf</a></p>
<p>&nbsp;</p>